.file-browser {
    ul {
        list-style: none;
        li {
            float: left;
            width: 200px;
            cursor: pointer;
            margin: 5px;
            .image {
                height: 200px;
                line-height: 200px;
                outline: solid 1px lightgray;
                background: #f7f7f7;
                img {
                    max-height: 100%;
                    margin-top: -3px;
                }
            }
            .title {
                margin-top: 5px;
                word-wrap: break-word;
                height: 43px;
                overflow: hidden;
            }
        }
    }
}