<div class="file-browser">
  <div class="top-header">
    <button type="button" class="btn btn-default" [disabled]="disableBack" (click)="back()">
      <i class="fa fa-arrow-left"></i>
      Back
    </button>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb" *ngIf="breadcrumb.length > 0">
        <li class="breadcrumb-item" [ngClass]="{'active' : i == breadcrumb.length - 1}" *ngFor="let part of breadcrumb;  let i = index">
          <button class="btn btn-link" (click)="goToPath(part, i)">{{part.title}}</button>
        </li>
      </ol>
    </nav>
  </div>
  <ul>
    <li *ngFor="let dir of dirs" (click)="openPath(dir)">
      <div class="image">
        <img src="/assets/images/folder.jpg" alt="" class="img-thumbnail">
      </div>
      <div class="title">
        {{dir.title}}
      </div>
    </li>
    <li *ngFor="let file of files; let i = index" (click)="openPreview(i)">
      <div class="image file-type-{{file.type}}">
        <img [defaultImage]="'/assets/images/loading2.gif'" [file]="file" [thumbRotator]="file.type == 'video'" [animation]="videoAnimation(file)"
          [lazyLoad]="file.thumb" [offset]="100" (onLoad)="imageLoaded($event, file)" alt="" class="img-thumbnail">
        <i class="fa fa-search-plus magnifier"></i>
      </div>
      <div class="title">
        {{file.caption}}
      </div>
    </li>
  </ul>
</div>